body {
    background-color: rgba(46, 4, 4, 0.678);
  }
  
  .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
  }
  
  
  .container div {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    border-collapse: collapse;

    box-sizing: border-box;
    cursor: pointer;
  }
  
  div.black {
    background-color: #e9d1ad;
  }
  
  div.white {
    background-color: rgb(17, 24, 1);
    border: none;
  }